<!DOCTYPE html>
<html>
<head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8">
    <!--disables pinch zoom, fires tap event immediately -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="description" content="Akemail is a cloud emailing solution: robust, agile and intuitive!">
    <meta name="author" content="Akemail">

    <link rel="stylesheet" href="public/css/style.min.css"/>

    <link rel="icon" type="image/png" href="public/img/favicon.png"/>
    <link rel="apple-touch-icon" href="public/img/favicon.png">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="public/js/vendor/html5shiv.js"></script>
    <script src="public/js/vendor/respond.min.js"></script>
    <link href="public/css/ie.css" rel="stylesheet">
    <link type="image/x-icon" rel="shortcut icon" href="public/img/favicon.ico"/>
    <![endif]-->
</head>
<body>

{{content}}

</body>
</html>
